{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "**/*.hbs",
            "options": {
                "parser": "angular"
            }
        }
    ]
}
