<button
    aria-controls="{{ ids.menu.panel }}"
    aria-haspopup="menu"
    aria-expanded="false"
    class="button menu-button"
    id="{{ ids.menu.button }}"
    type="button"
>
    {{> icon name="bars" class="menu-icon" }}
    {{> icon name="cross" class="menu-icon" }}
</button>
